
:root {
  --primary-color: #2575fc;
  --primary-color-faded: rgba(37, 117, 252, 0.1);
  --secondary-color: #6a11cb;
  --text-primary: #ffffff;
  --text-secondary: #bbbbbb;
  --bg-color: #0c1a2e;
  --bg-color-light: #1a293f;
  --card-bg: rgba(26, 41, 63, 0.8);
  --bg-secondary: #122036;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This is crucial for the map and layout to work correctly */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents double scrollbars */
}

body {
  display: flex;
  min-width: 320px;
}

.main-content {
    height: 100%;
    /* width: 100%; */
    overflow-y: auto;
}
